<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>@ViewData["Title"] - UFOT</title>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
<link rel="stylesheet" href="~/UFOT.styles.css" asp-append-version="true" />
   <style>
        /* Estilos personalizados para la barra lateral */
        #sidebar {
            width: 250px;
            position: fixed;
            height: 100%;
            background: #007bff;
            left: 0;
            overflow-x: hidden;
            padding-top: 20px;
        }

        #sidebar a {
            padding: 10px 15px;
            text-decoration: none;
            font-size: 20px;
            color: #fff;
            display: block;
        }

        #sidebar a:hover {
            background-color: #555;
        }

        #content {
            margin-left: 250px;
            padding: 20px;
        }
    </style>
</head>
<body>
    <!-- Barra lateral -->
    <div id="sidebar">
         <a href="@Url.Action("Inicio", "Home")">Inicio</a></>
    
        <a href="@Url.Action("transferirEntreCuentas", "Home")">Realizar transferencias entre cuentas propias</a>
    <a href="@Url.Action("Beneficiario", "Home")">Agregar Beneficiarios</a>
    <a href="@Url.Action("Prestamo", "Home")">Pagar de préstamos</a>
        <a href="@Url.Action("transferirTerceros", "Home")">Realizar transferencias a terceros</a>
    <a href="@Url.Action("Index", "TransferenciasBeneficiarios")">Realizar transferencia a beneficiarios</a>
    <a href="@Url.Action("Index", "Home")">Salir</a>
        <!-- Agrega más funciones bancarias según tus necesidades -->
    </div>

    <!-- Contenido de la página -->
    <div id="content">
        @RenderBody()
    </div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
    @await Component.InvokeAsync("Notyf")
    @await RenderSectionAsync("Scripts", required: false)
</div>

</body>
</html>

