@model IEnumerable<UFOT.Models.Cuenta>
@{
    ViewData["Title"] = "PaginaPrincipal";
    Layout = "~/Views/Shared/_LayoutBarra.cshtml";
}

<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Menú Bancario</title>
<style>
    .container {
    /* margin-left: 170px; */
    padding: 20px;
  }
  .account {
    border: 2px solid #000;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
  }
</style>
</head>
<body>


 <table class="container">
    <thead>
        <tr>
            <th>
                    @Html.DisplayNameFor(model => model.NumeroCuenta)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.Balance)
            </th>
            <th>
                    @Html.DisplayNameFor(model => model.Tipo)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NumeroCuenta)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Balance)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tipo)
                    </td>        
                </tr>
            }
    </tbody>
</div>

</body>
</html>
